{
  "useTabs": false,
  "singleQuote": true,
  "trailingComma": "es5",
  "semi": false,
  "printWidth": 120,
  "plugins": ["prettier-plugin-astro", "prettier-plugin-tailwindcss"],
  "pluginSearchDirs": false,
  "bracketSameLine": true
}
