---
import Layout from '../layouts/Layout.astro'
import Card from '../components/Card.astro'
import { Image } from 'astro:assets'
import logo from '../assets/fondo hero 1.png'
import Contacto from '../components/Contacto.astro'
import Proyectos from '../components/Proyectos.astro'
---

<Layout title="Guamán con G">
  <main class="bg-cornflower-200/10">
    <div class="h-[510px] bg-hero bg-cover">
      <div class="wrapper">
        <div
          class="relative top-12 flex h-auto max-w-2xl flex-col items-center gap-8 rounded-2xl bg-cornflower-600/95 px-12 pb-24 pt-16">
          <h1 class="font-sans font-medium text-cornflower-50">
            Desarrollando tus <span class="font-bold text-cornflower-950">ideas</span>
          </h1>
          <div>
            <p class="font-serif text-xl font-normal text-cornflower-50">
              Somos Guamán con G, y si necesitas ayuda para hacer realidad tus sitios y webapps no dudes en
              contactarnos.
            </p>
            <p class="font-serif text-xl text-cornflower-50">
              Tenemos experiencia en Diseño Web, Desarrollo Web en Wordpress, ReactJs, Angular, NodeJs, PHP, Bases de
              Datos Relacionales y NoSql.
            </p>
          </div>
          <a
            href="#contacto"
            class="rounded border-none bg-cornflower-800 px-5 py-2 font-bold text-cornflower-50 hover:bg-white/15 hover:ring hover:ring-1 hover:ring-cornflower-800"
            >Trabajemos juntos</a
          >
        </div>
      </div>
    </div>
    <Proyectos />
    <Contacto />
  </main>
</Layout>
