---
import Layout from '../layouts/Layout.astro'
import Contacto from '../components/Contacto.astro'
import Proyectos from '../components/Proyectos.astro'
---

<Layout title="Guamán con G">
  <main class="bg-cornflower-200/10">
    <div class="h-[510px] bg-hero bg-cover">
      <div class="wrapper mx-auto">
        <div
          class="relative top-12 mx-auto flex h-auto w-[90%] flex-col items-center gap-8 rounded-2xl bg-cornflower-600/95 px-12 py-12 sm:pb-24 sm:pt-16 md:mx-0 md:max-w-2xl dark:bg-cornflower-700/95">
          <h1 class="font-sans font-medium text-cornflower-100 max-md:text-5xl dark:text-cornflower-200">
            Desarrollando tus <span class="font-bold text-cornflower-950">ideas</span>
          </h1>
          <div>
            <p class="font-serif text-xl font-normal text-cornflower-50">
              Somos Guamán con G, y si necesitas hacer realidad tus sitios y webapps no dudes en contactarnos.
            </p>
            <p class="font-serif text-xl text-cornflower-50">
              Tenemos experiencia en Diseño Web, Desarrollo Web en Wordpress, ReactJs, Angular, Astro, NodeJs, PHP,
              Bases de Datos Relacionales y NoSql.
            </p>
          </div>
          <a
            href="#contacto"
            class="rounded border-none bg-cornflower-800 px-5 py-2 font-bold text-cornflower-50 transition-transform duration-300 hover:scale-105 hover:bg-white/15 hover:ring hover:ring-1 hover:ring-cornflower-800 dark:hover:text-cornflower-200"
            >Trabajemos juntos</a
          >
        </div>
      </div>
    </div>
    <Proyectos />
    <Contacto />
  </main>
</Layout>
